


    <section>
        <div class="container mt-5">
            <h4>Best Deals</h4>
            <div class="d-flex" style="flex-direction: row-reverse;">
                <a href="/allproducts">View All</a>
            </div>
            <div class="row">
               {{#each products}}
                <div class="col-md-3 p-3">
                    <div class="card" style="width: 15rem; height:20rem">
                        <img style="height: 10rem; object-fit:contain;width: 15rem;" src="/product-images/{{this._id}}.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">{{this.Name}}</h5>
                            <p class="card-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">{{this.Description}}</p>
                            <br/>
                            <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to Cart <i class="fa fa-shopping-cart"></i></button>
                             <button onclick="addToWishlist('{{this._id}}')" class="btn" style="border: none;"><i class="fa fa-heart-o" style="font-size: 20px; color:black;"></i></button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        
    </section>

    <script>
       function addToWishlist(proId){
            $.ajax({
                url:'/add-to-wishlist/'+proId,
                method:'get',
                success:(response)=>{
                    if(response.status){
                        let count = $('#cart-count').html()
                        count = parseInt(count)+1
                    }
                }
            })
        }

         function addToCart(proId){
            $.ajax({
                url:'/add-to-cart/'+proId,
                method:'get',
                success:(response)=>{
                    if(response.status){
                        let count = $('#cart-count').html()
                        count = parseInt(count)+1
                    }
                }
            })
        }
    </script>
