<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                   
                    <td><img style="width:70px;height:70px" src="/product-images/{{this.product._id}}.jpg" alt=""></td>
                    <td>{{this.product.Name}}</td>
                    <td>QR {{this.product.Price}}</td>
                   
                    <td><button class="btn btn-danger"onclick="removeWishlist('{{this._id}}','{{this.product._id}}',1)">Remove</button></td>
                </tr>

                {{/each}}
            </tbody>
        </table>
      
    </div>
</section>

<script>
    function removeWishlist(prodId){

        
    }
    
</script>